# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# OS Generated
.DS_Store
Thumbs.db

# Dynamic runtime data (optional to ignore)
# server/vpn_data.json
# server/access_keys_data.json
